.navbar{
    display: flex;
    width:100%;
   justify-content: center;
}
.navbar-content ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    
    

}
.navbar-content a{
    color:deeppink;

}